<div>
  <a-scene environment="preset: forest; dressingAmount: 500">
    <a-entity position="0 1.6 -2">
        <a-entity google-poly="apiKey: AIzaSyBsuAo3fLWqSclqagoRc3wDv3ZcWUl3gPg; src: 1YE8U35HXsI" position="-4.296 1.5 -1.576"
                rotation="0 177 0" scale="3 3 3"></a-entity>
    </a-entity>
    <a-entity camera="" position="0 1.367 -4.78447" wasd-controls="" rotation="-15.12608579145374 15.46986046853221 0" look-controls="" aframe-injected="" data-aframe-inspector-original-camera=""></a-entity>
  </a-scene>
</div>
